html, body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #758daa;
    text-align: center;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .25px;
}

#container {
    padding: 48px 0;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 600px;
}

h1 {
    font-size: 48px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 24px;
    margin: 0;
}

h2 {
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

#sections {
    padding: 0 32px;
}

.section div {
    line-height: 1.5;
}

.section {
    padding: 32px 0;
    border-bottom: 1px solid #91abcb;
}

.section:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

a, a:visited {
    color: #cad8e8;
}

a:hover, html, body {
    color: #F3F9FA;
}

a {
    font-weight: 600;
    text-decoration: none;
    transition: color .25s;
}

#charity-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 24px;
    margin-bottom: 0;
}

#charity-links a {
    margin: 4px 12px;
}

@media only screen and (max-width: 420px) {
    #charity-links a {
       width: 100%;
    }
}